@use '../../../styles/utils';
@use 'sass:color';

.btn {
    all: unset;
    cursor: pointer;
    width: -webkit-fill-available;
    padding: 1em 2em;
    text-align: center;
    $hue: var(--hue);
    color: hsl($hue, 100%, 10%);
    background-color: hsl($hue, 100%, 70%);
    transition: color var(--time) ease-out, background-color var(--time) ease-out;

    span {
        display: inline-block;
        font-family: utils.$font-mono;
        font-weight: bold;
        font-size: 1rem;
        transition: transform var(--time) ease-out;
    }

    &:hover {
        color: hsl($hue, 100%, 70%);
        background-color: hsl($hue, 100%, 10%);
    }

    &:hover span {
        transform: scale(1.1);
    }
}
