$font-mono: 'Space Mono', monospace;
$font-regular: 'Overpass', sans-serif;

@mixin padding {
    padding: 2rem;
    @media (max-width: 800px) {
        padding: 1rem;
    }
}

@mixin section($hue) {
    color: hsl($hue, 100%, 10%);
    background-color: hsl($hue, 100%, 70%);

    ::selection {
        background: hsl($hue, 100%, 10%);
        color: hsl($hue, 100%, 70%);
    }
}

@mixin head($hue, $bg) {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include padding;
    @include section-bg($bg, $hue, 150%);

    h1 {
        font-size: 4rem;
        pointer-events: none;
    }
    h2 {
        font-family: $font-mono;
        font-size: 1.2rem;
        pointer-events: none;
    }

    @media (max-width: 800px) {
        height: 60vh;

        h1 {
            font-size: 2.4rem;
        }
        h2 {
            font-size: 0.9rem;
        }
    }
}

@mixin section-bg($url, $hue, $bs) {
    color: hsl($hue, 100%, 10%);
    background: url($url) no-repeat;
    background-color: hsl($hue, 100%, 70%);
    background-size: $bs;
    background-blend-mode: screen;
    background-position: 50% 0%;
    transition: color var(--time) ease-out, background-color var(--time) ease-out,
        background-position var(--time) ease-out, background-blend-mode var(--time) ease-out;

    &:hover {
        color: hsl($hue, 100%, 70%);
        background-color: hsl($hue, 100%, 10%);
        background-position: 20% 0%;
        background-blend-mode: luminosity;

        ::selection {
            background: hsl($hue, 100%, 70%);
            color: hsl($hue, 100%, 10%);
        }
    }

    ::selection {
        background: hsl($hue, 100%, 10%);
        color: hsl($hue, 100%, 70%);
    }

    @media (max-width: 800px) {
        background-size: cover;
    }
}

@mixin section-button($hue, $bg) {
    & > div:last-of-type {
        ::selection {
            background: hsl($hue, 100%, 10%);
            color: hsl($hue, 100%, 70%);
        }
        display: flex;
        h1 {
            @include padding;
            width: 100%;
            display: inline-block;
            @include section($hue);
        }
        button,
        a {
            width: stretch;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                font-size: 1.6rem;
            }
            @include section-bg($bg, $hue, 150%);
            @media (max-width: 800px) {
                background-size: 200%;
            }
        }

        @media (max-width: 800px) {
            flex-direction: column;
        }
    }
}
