@use './utils';

.header {
    height: calc(100vh - 6rem);
    @include utils.padding;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include utils.section-bg('../public/backgrounds/bg-4.jpg', 325, cover);
    user-select: none;

    img {
        width: clamp(6rem, 10vw, 10rem);
        height: clamp(6rem, 10vw, 10rem);
        filter: grayscale(100%) sepia(60%) hue-rotate(290deg) saturate(482%);
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 5rem;
    }
    h2 {
        font-family: utils.$font-mono;
        margin-left: 0.3rem;
    }
    h2:nth-of-type(2) {
        margin-top: -1rem;
    }

    @media (max-width: 800px) {
        height: calc(100vh - 5rem);

        h1 {
            font-size: 2.2rem;
        }
        h2 {
            font-size: 1rem;
        }
        h2:nth-of-type(2) {
            margin-top: -0.3rem;
        }
    }
}

.Clock {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'date time time day';
    gap: 0.5rem;

    @media (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 'day date' 'time time';
    }

    & > * {
        @include utils.padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: utils.$font-mono;
        font-size: 2rem;
        font-weight: bold;
        white-space: nowrap;

        $hue: 42;
        color: hsl($hue, 100%, 10%);
        background-color: hsl($hue, 100%, 70%);

        &::selection {
            background: hsl($hue, 100%, 10%);
            color: hsl($hue, 100%, 70%);
        }

        transition: color var(--time) ease-out, background-color var(--time) ease-out;

        @media (max-width: 800px) {
            font-size: 1.4rem;
        }

        &:hover {
            color: hsl($hue, 100%, 70%);
            background-color: hsl($hue, 100%, 10%);

            &::selection {
                background: hsl($hue, 100%, 70%);
                color: hsl($hue, 100%, 10%);
            }
        }

        svg {
            $size: 1.4rem;
            width: $size;
            height: $size;
            margin-bottom: 0.6rem;
        }
    }
}

.Stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .bars {
        width: 100%;
        display: flex;
        gap: 0.3rem;

        span {
            width: var(--percent);
            height: 2rem;
        }
    }

    .legends {
        display: flex;
        justify-content: space-between;
        user-select: none;
        flex-wrap: wrap;
        gap: 1rem;

        span {
            position: relative;
            font-family: utils.$font-mono;
            font-weight: bold;
            font-size: 1rem;
            margin-left: 1.3rem;
            line-height: 1;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: -1.3rem;
                border: 0.45rem solid transparent;
            }
        }
    }

    @for $i from 1 through 10 {
        $hue: random(360);
        .bars {
            span:nth-of-type(#{$i}) {
                background-color: hsl($hue, 100%, 70%);
                color: hsl($hue, 100%, 10%);
            }
        }
        .legends {
            span:nth-of-type(#{$i}) {
                color: hsl($hue, 100%, 70%);
                &::after {
                    border-color: hsl($hue, 100%, 70%);
                    border-bottom-color: transparent;
                    border-left-color: transparent;
                }
            }
        }
    }
}

.Fact {
    $hue: 115;
    @include utils.padding();
    @include utils.section($hue);
    display: grid;
    place-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    text-align: center;

    &::selection {
        background-color: hsl($hue, 100%, 10%);
        color: hsl($hue, 100%, 70%);
    }

    svg {
        --size: 3rem;
        width: var(--size);
        height: var(--size);
    }

    @media (max-width: 800px) {
        font-size: 1rem;
        svg {
            --size: 2rem;
        }
    }
}

.About {
    $hue: 0;
    display: flex;
    background: url('../public/images/pp.jpg') no-repeat;
    background-color: hsl($hue, 100%, 100%);
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;

    ::selection {
        background: hsl($hue, 100%, 0%);
        color: hsl($hue, 100%, 100%);
    }

    article {
        @include utils.padding;
        width: 50%;

        @media (max-width: 800px) {
            width: 100%;
        }

        a {
            font-size: 1.2rem;
            text-decoration: none;
            color: inherit;
            font-family: utils.$font-mono;
            font-weight: bold;
            display: inline-flex;
            align-items: center;

            svg {
                $size: 1.5rem;
                width: $size;
                height: $size;

                &:last-of-type {
                    opacity: 0;
                    transition: var(--time) ease;
                }
            }

            &:hover {
                svg:last-of-type {
                    opacity: 1;
                }
            }
        }
    }

    @media (max-width: 800px) {
        color: hsl($hue, 100%, 100%);
        background-color: hsla($hue, 100%, 0%, 0.25);
        background-blend-mode: multiply;
        background-position: center right;
    }
}

.Education {
    $hue: 257;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .EducationHead {
        @include utils.head($hue, '../public/backgrounds/bg-2.jpg');
    }

    .EducationBody {
        @include utils.padding;
        position: relative;
        overflow: hidden;
        background-color: hsl($hue, 100%, 70%);

        *::selection {
            background: hsl($hue, 100%, 10%);
            color: hsl($hue, 100%, 70%);
        }

        & > * {
            z-index: 10;
        }

        h6 {
            position: absolute;
            z-index: 1;
            right: -2rem;
            top: 6rem;
            transform: translate(0, -50%) rotate(-30deg);
            font-size: 20rem;
            opacity: 0.1;
            user-select: none;
            pointer-events: none;

            @media (max-width: 800px) {
                font-size: 15rem;
            }
        }

        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2rem;
        }
        h4 {
            font-family: utils.$font-mono;
            font-size: 1rem;
        }
        & > span {
            font-family: utils.$font-mono;
            font-weight: bolder;
            font-size: 1.2rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            gap: 1rem;

            li {
                display: flex;
                flex-direction: column;
                border-left: 0.4rem solid hsl($hue, 100%, 10%);

                span {
                    margin-left: 1rem;
                    &:first-of-type {
                        font-size: 1rem;
                        font-family: utils.$font-mono;
                    }
                    &:last-of-type {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        @media (max-width: 800px) {
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1.4rem;
            }
            h4 {
                font-family: utils.$font-mono;
                font-size: 0.8rem;
            }
            ul {
                li {
                    span {
                        &:first-of-type {
                            font-size: 0.8rem;
                        }
                        &:last-of-type {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

.Experiences {
    $hue: 138;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .ExperiencesHead {
        @include utils.head($hue, '../public/backgrounds/bg-5.jpg');
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
            @include utils.padding;
            @include utils.section($hue);

            h3 {
                font-size: 1rem;
                font-family: utils.$font-mono;
            }

            h2 {
                font-size: 1.4rem;
                font-weight: bold;
                font-family: utils.$font-mono;
            }

            h1 {
                font-size: 2rem;
            }

            @media (max-width: 800px) {
                h3 {
                    font-size: 0.9rem;
                }
                h2 {
                    font-size: 1.1rem;
                }
                h1 {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.Events {
    $hue: 235;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .EventsHead {
        @include utils.head($hue, '../public/backgrounds/bg-3.jpg');
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
            @include utils.padding;
            @include utils.section($hue);

            h3 {
                font-family: utils.$font-mono;
                font-weight: bold;
                font-size: 1.4rem;
            }
        }

        @include utils.section-button($hue, '../public/backgrounds/bg-3.jpg');
    }
}

.SoftSkills {
    $hue: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .SoftSkillsHead {
        @include utils.head($hue, '../public/backgrounds/bg-1.jpg');
    }

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        li {
            width: 100%;
            @include utils.padding;
            @include utils.section($hue);
            font-size: 1.2rem;
            gap: 1rem;

            &::first-letter {
                font-weight: bold;
                font-size: 150%;
            }

            &::selection {
                background: hsl($hue, 100%, 10%);
                color: hsl($hue, 100%, 70%);
            }
        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.Interests {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .InterestsHead {
        @include utils.head(30, '../public/backgrounds/bg-3.jpg');
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        li {
            padding: 1rem 2rem;
            text-align: center;
            flex-grow: 2;
            font-family: utils.$font-mono;
            font-weight: bold;
            font-size: 1.4rem;
            transition: color var(--time) ease-out, background-color var(--time) ease-out;

            @for $i from 1 through 14 {
                &:nth-of-type(#{$i}) {
                    $hue: random(360);
                    color: hsl($hue, 100%, 10%);
                    background-color: hsl($hue, 100%, 70%);

                    &::selection {
                        background: hsl($hue, 100%, 10%);
                        color: hsl($hue, 100%, 70%);
                    }

                    &:hover {
                        color: hsl($hue, 100%, 70%);
                        background-color: hsl($hue, 100%, 10%);

                        &::selection {
                            background: hsl($hue, 100%, 70%);
                            color: hsl($hue, 100%, 10%);
                        }
                    }
                }
            }
        }
    }
}

.Joke {
    $hue: 55;
    @include utils.padding();
    @include utils.section($hue);
    display: grid;
    place-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    text-align: center;

    &::selection {
        background-color: hsl($hue, 100%, 10%);
        color: hsl($hue, 100%, 70%);
    }

    svg {
        --size: 3rem;
        width: var(--size);
        height: var(--size);
    }

    @media (max-width: 800px) {
        font-size: 1rem;
        svg {
            --size: 2rem;
        }
    }
}
