@use './utils';

.header {
    height: calc(100vh - 6rem);
    @include utils.padding;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include utils.section-bg('../public/backgrounds/bg-2.jpg', 238, cover);

    h1 {
        font-size: 5rem;
    }
    h2 {
        font-family: utils.$font-mono;
        margin-left: 0.3rem;
    }
    h2:nth-of-type(2) {
        margin-top: -1rem;
    }

    @media (max-width: 800px) {
        height: calc(100vh - 5rem);

        h1 {
            font-size: 2.2rem;
        }
        h2 {
            font-size: 1rem;
        }
        h2:nth-of-type(2) {
            margin-top: -0.3rem;
        }
    }
}

.stats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    @media (max-width: 800px) {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .stat {
        @include utils.padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;

        $hue: 83;
        color: hsl($hue, 100%, 10%);
        background-color: hsl($hue, 100%, 70%);
        transition: color var(--time) ease-out, background-color var(--time) ease-out;

        @media (max-width: 800px) {
            font-size: 1.4rem;
        }

        &:hover {
            color: hsl($hue, 100%, 70%);
            background-color: hsl($hue, 100%, 10%);

            ::selection {
                background: hsl($hue, 100%, 70%);
                color: hsl($hue, 100%, 10%);
            }
        }

        ::selection {
            background: hsl($hue, 100%, 10%);
            color: hsl($hue, 100%, 70%);
        }

        span {
            font-family: utils.$font-mono;
            font-size: 1rem;
            font-weight: bold;
        }

        svg {
            --size: 1.4rem;
            width: var(--size);
            height: var(--size);
            margin-bottom: 0.6rem;
        }
    }
}

.projects {
    width: 100%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .project {
        width: 100%;
        @include utils.padding;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        transition: color var(--time) ease-out, background-color var(--time) ease-out;

        @for $i from 1 through 20 {
            &:nth-of-type(#{$i}) {
                $hue: random(360);
                color: hsl($hue, 100%, 10%);
                background-color: hsl($hue, 100%, 70%);

                &:hover {
                    color: hsl($hue, 100%, 70%);
                    background-color: hsl($hue, 100%, 10%);

                    ::selection {
                        background: hsl($hue, 100%, 70%);
                        color: hsl($hue, 100%, 10%);
                    }
                }

                ::selection {
                    background: hsl($hue, 100%, 10%);
                    color: hsl($hue, 100%, 70%);
                }
            }
        }

        & > * {
            z-index: 10;
        }

        h1:first-of-type {
            position: absolute;
            z-index: 1;
            left: -3rem;
            top: 50%;
            transform: translate(0%, -50%) rotate(30deg);
            font-size: 20rem;
            opacity: 0.1;
            user-select: none;
            pointer-events: none;
        }

        h1 {
            font-size: 2rem;
        }

        span {
            margin: 1rem 0;
            display: inline-block;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;

            li {
                font-family: utils.$font-mono;
                font-weight: bold;
                font-size: 0.9rem;
                margin-right: 1rem;
            }
        }

        svg {
            --size: 1.4rem;
            width: var(--size);
            height: var(--size);
        }

        a {
            color: inherit;
            text-decoration: none;
            margin-right: 1rem;
        }
    }
}

.oscs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .osc_head {
        @include utils.head(12, '../public/backgrounds/bg-4.jpg');
    }

    .osc {
        width: 100%;
        @include utils.padding;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        transition: color var(--time) ease-out, background-color var(--time) ease-out;

        @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
                $hue: random(360);
                color: hsl($hue, 100%, 10%);
                background-color: hsl($hue, 100%, 70%);

                &:hover {
                    color: hsl($hue, 100%, 70%);
                    background-color: hsl($hue, 100%, 10%);

                    ::selection {
                        background: hsl($hue, 100%, 70%);
                        color: hsl($hue, 100%, 10%);
                    }
                }

                ::selection {
                    background: hsl($hue, 100%, 10%);
                    color: hsl($hue, 100%, 70%);
                }
            }
        }

        & > * {
            z-index: 10;
        }

        h1:first-of-type {
            position: absolute;
            z-index: 1;
            right: -3rem;
            top: 50%;
            transform: translate(0%, -50%) rotate(-30deg);
            font-size: 20rem;
            opacity: 0.1;
            user-select: none;
            pointer-events: none;
        }

        h1 {
            font-size: 2rem;
        }

        span {
            margin: 1rem 0;
            display: inline-block;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;

            li {
                font-family: utils.$font-mono;
                font-weight: bold;
                font-size: 0.9rem;
                margin-right: 1rem;
            }
        }

        svg {
            --size: 1.4rem;
            width: var(--size);
            height: var(--size);
        }

        a {
            color: inherit;
            text-decoration: none;
            margin-right: 1rem;
        }
    }
}

.repos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .repos_head {
        @include utils.head(74, '../public/backgrounds/bg-1.jpg');
    }

    .repos_body {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .repo {
            all: unset;
            padding: 1rem 2rem;
            display: flex;
            flex-direction: column;
            flex-grow: 2;
            transition: color var(--time) ease-out, background-color var(--time) ease-out;
            cursor: pointer;

            @for $i from 1 through 50 {
                &:nth-of-type(#{$i}) {
                    $hue: random(360);
                    color: hsl($hue, 100%, 10%);
                    background-color: hsl($hue, 100%, 70%);

                    &:hover {
                        color: hsl($hue, 100%, 70%);
                        background-color: hsl($hue, 100%, 10%);

                        ::selection {
                            background: hsl($hue, 100%, 70%);
                            color: hsl($hue, 100%, 10%);
                        }
                    }

                    ::selection {
                        background: hsl($hue, 100%, 10%);
                        color: hsl($hue, 100%, 70%);
                    }
                }
            }

            svg {
                --size: 2.4rem;
                width: var(--size);
                height: var(--size);
            }

            p {
                font-size: 1.4rem;
                font-family: utils.$font-mono;
                font-weight: bold;
            }

            div {
                display: flex;
                gap: 0.5rem;

                span {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    font-weight: bold;
                    font-family: utils.$font-mono;

                    svg {
                        --size: 1rem;
                        width: var(--size);
                        height: var(--size);
                    }
                }
            }
        }
    }

    @include utils.section-button(74, '../public/backgrounds/bg-1.jpg');
}

.footer {
    @include utils.section(238);
    @include utils.padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    p {
        font-family: utils.$font-mono;
        font-weight: bold;
    }
    span {
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }
}
